{% include 'parts/links.html' %}
{% load static %}
<style>
	.show{
		display: block;
	}
</style>
</head>
<body>
    <!-- firt section orange -->
    <div class="section color1">
        <div class="container">
			{% include 'parts/mainnav.html' %}
		</div>
		<section class="section">
			{% block content %}
            {% endblock %}
		</section>
		<!-- Footer -->
		{% include 'parts/footer.html' %}
		<!-- End of footer -->

		<script src="{% static 'assets/js/vuex.js' %}"></script>
    <script>
			var store = new Vuex.Store({
				state: {
					numItems: {{ cart.get_total_length }},
					totalCost: {{ cart.get_total_cost }}
				},
				mutations: {
					increment(state, quantity) {
						state.numItems += quantity;
					},
					changeTotalCost(state, newCost) {
						state.totalCost += newCost
					}
				}
			});

			var navbarapp = new Vue({
				el: '#navbarapp',
				delimiters: ['[[', ']]'],
				store: store,
				data () {
					return {
						menuClass: false
					}
				},
				computed: {
					numItems: function() {
						return store.state.numItems
					}
				},
				methods: {
					toggleMenu() {
						console.log('toggleMenu');

						this.menuClass = !this.menuClass;
					}
				}
			});

	</script>

		{% block scripts %}
		{% endblock %}
	</body>
</html>
