{% extends 'base2.html' %}

{% load static %}

{% block content %}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{% static 'assets/css/dashboard.css' %}"> -->

<body class="home">
      <!-- users nav -->
      {% include '_partials/simplenav.html' %}
      <!-- users nav ends here -->
      <div class="container">
        <div class="noitem">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="item_text_notfound">
                        <h3>You don't have any order yet...</h3>
                    <p>Explore our resources and mark the ones you like the most so you don’t lose sight of them.</p>
                    <a href="{% url 'frontpage' %}" class="btn btn-primary btn-block">Look for item</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <img src="{% static 'assets/img/SVG/Asset 30void.svg' %}" alt="">
                </div>
            </div>
        </div>
    </div>

    {% endblock %}